/* Center the body */
body{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

/* Set box-sizing to border-box for all elements */
* {
  box-sizing: border-box;
}

/* Create a column layout */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after the row */
.row::after {
  content: "";
  clear: both;
}

/* Style the footer */
footer {
  background-color: black;
  text-align: center;
  color: azure;
  padding: 20px;
}

/* Media query for screens with a minimum width of 1024px */
@media screen and (min-width: 1024px) {
}

/* Media query for screens with a width of 1024px */
@media screen and (width: 1024px) {
  /* Set the height and width of images and logo.svg */
  img, logo.svg {
      height: 6%;
      width: 6%;
  }
}

/* Media query for screens with a maximum width of 800px */
@media screen and (max-width: 800px) {
  /* Set the width of columns to 50% */
  .column {
      width: 50%;
  }
}

/* Media query for screens with a maximum width of 480px */
@media screen and (max-width: 480px) {
  /* Set the width of columns and clear floats after the row to 100% */
  .column, .row::after {
      width: 100%;
  }
}

/* Add padding to paragraphs */
p{
  padding-left: 2%;
  padding-right: 2%;
}

/* Add padding to the left of the container */
.container{
  padding-left: 3%;
}
