/* Set margin and padding to 0 for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the height of the body element to 100px */
body {
    height: 100px;
}

/* Style the top header */
.top_header {
    background: #3e8bff;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

/* Style the header text */
.header_ {
    margin-left: 20px;
    margin-bottom: 25px;
}

/* Style the header links */
.header_ a {
    color: white;
    font-family: roboto;
    text-decoration: none;
}

/* Style the search bar input */
.search_bar input {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 100px;
}

/* This section styles an unordered list with no bullets and displays the list items inline with a margin of 10px on all sides and aligns the content between them */
ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    align-content:space-between;
}

/* This section styles the anchor tags within the unordered list with no text decoration, white color, 1em font size, and roboto font family, and aligns the text to the right */
ul li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-family: roboto;
    text-align: right;
}

/* This section styles the anchor tags within the unordered list within the responsive_navbar class with a margin-right of 80px and sets the visibility to hidden */
.responsive_navbar ul li a {
    margin-right: 80px;
    visibility:hidden;
}

/* This section styles a card with a height of 700px, width of 500px, a box shadow, and a margin of 25px on the top and 150px on the left */
.card-1 {
    height: 700px;
    width: 500px;
    box-shadow: 2px 2px 5px 3px gray;
    margin-top: 25px;
    margin-left: 150px;
    background-color: white;
}

/* This section styles an image with a height of 450px, a black background color, and a cover background size */
.img-1 {
    height: 450px;
    background-color: black;
    background-size: cover;
    margin-bottom: 20px;
}

/* This section styles a header with a margin-left of 20px and roboto font family */
.header-1 {
    margin-left: 20px;
    font-family: roboto;
}

/* This section styles a paragraph with a margin-left of 20px, a margin-top of 10px, gray color, and roboto font family */
.movie-para1 {
    margin-left: 20px;
    margin-top: 10px;
    color: gray;
    font-family: roboto;
}

/* This section styles the button for the first movie */
.movie_button1 {
    margin-left: 370px;
    margin-top: 60px; 
    color: white; 
    background-color: #3e8bff; 
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px; 
    border-radius: 6px; 
    border: #3e8bff; 
}

/* This section styles the button when the user hovers over it */
.movie_button1:hover {
    cursor: pointer; 
}

/* This section styles the card for the second movie */
.card-2 {
    height: 600px; 
    width: 260px; 
    box-shadow: 2px 2px 5px 3px gray; 
    margin-top: 25px; 
    margin-left: 20px; 
    background-color: white; 
}

/* This section styles the navbar */
.navbar{
    align-content: space-between; 
}

/* This section styles the image for the second movie */
.img-2 {
    padding-top: 20px; 
    margin-left: 20px; 
}

/* This section styles the header for the second movie */
.header-2 {
    margin-left: 20px; 
    margin-top: 20px; 
    font-family: roboto; 
}

/* This section styles the paragraph for the second movie */
.movie-para2 {
    margin-left: 20px;
    margin-top: 10px; 
    color: gray; 
    font-family: roboto; 
}

/* This section styles the button for the second movie */
.movie_button2 {
    margin-left: 130px; 
    margin-top: 90px; 
    color: white; 
    background-color: #3e8bff; 
    padding-top: 15px; 
    padding-bottom: 15px; 
    padding-left: 20px; 
    padding-right: 20px; 
    border-radius: 6px; 
    border: #3e8bff; 
}

/* This code sets the hover effect for the movie_button2 class */
.movie_button2:hover {
    cursor: pointer;
}

/* This code sets the style for the card-3 class */
.card-3 {
    height: 600px;
    width: 260px;
    box-shadow: 2px 2px 5px 3px gray;
    margin-top: 25px;
    margin-left: 20px;
    background-color: white;
}

/* This code sets the style for the image in the card-3 class */
.img-3 {
    padding-top: 20px;
    margin-left: 20px;
}

/* This code sets the style for the header in the card-3 class */
.header-3 {
    margin-left: 20px;
    margin-top: 20px;
    font-family: roboto;
}

/* This code sets the style for the paragraph in the card-3 class */
.movie-para3 {
    margin-left: 20px;
    margin-top: 10px;
    color: gray;
    font-family: roboto;
}

/* This code sets the style for the movie_button3 class */
.movie_button3 {
    margin-left: 130px;
    margin-top: 70px;
    color: white;
    background-color: #3e8bff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    border: #3e8bff;
}

/* This code sets the hover effect for the movie_button3 class */
.movie_button3:hover {
    cursor: pointer;
}

/* This code sets the style for the card-4 class */
.card-4 {
    height: 600px;
    width: 260px;
    box-shadow: 2px 2px 5px 3px gray;
    margin-top: -70px;
    margin-left: 150px;
    background-color: white;
}

/* This code sets the style for the image in the card-4 class */
.img-4 {
    padding-top: 20px;
    margin-left: 20px;
}

/* This code sets the style for the header in the card-4 class */
.header-4 {
    margin-left: 20px;
    margin-top: 20px;
    font-family: roboto;
}

/* This code sets the style for the paragraph in the card-4 class */
.movie-para4 {
    margin-left: 20px;
    margin-top: 10px;
    color: gray;
    font-family: roboto;
}

/* This code sets the style for the movie_button4 class */
.movie_button4 {
    margin-left: 130px;
    margin-top: 70px;
    color: white;
    background-color: #3e8bff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    border: #3e8bff;
}

/* This code sets the hover effect for the movie_button4 class */
.movie_button4:hover {
    cursor: pointer;
}


/* This code sets the cursor to a pointer when the user hovers over the movie_button4 element */
.movie_button4:hover {
    cursor: pointer;
}

/* This code sets the properties for the card-5 element */
.card-5 {
    height: 600px;
    width: 260px;
    box-shadow: 2px 2px 5px 3px gray;
    margin-top:  -70px;
    margin-left: 20px;
    background-color: white;
}

/* This code sets the properties for the img-5 element */
.img-5 {
    padding-top: 20px;
    margin-left: 20px;
}

/* This code sets the properties for the header-5 element */
.header-5 {
    margin-left: 20px;
    margin-top: 20px;
    font-family: roboto;
}

/* This code sets the properties for the movie-para5 element */
.movie-para5 {
    margin-left: 20px;
    margin-top: 10px;
    color: gray;
    font-family: roboto;
    width: 235px;
}

/* This code sets the properties for the movie_button5 element */
.movie_button5 {
    margin-left: 130px;
    margin-top: 90px;
    color: white;
    background-color: #3e8bff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    border: #3e8bff;
}

/* This code sets the cursor to a pointer when the user hovers over the movie_button5 element */
.movie_button5:hover {
    cursor: pointer;
}

/* This code sets the properties for the footer element */
footer {   
    margin-top: 300px;
    font-family: roboto;
    font-size: 20px;
    color: #9b9b9b;
    text-align: center;
    padding-bottom: 40px;
}

/* This code sets the properties for the set_movie1 element */
.set_movie1 {
    display: flex;
}

/* This code sets the properties for the set_movie2 element */
.set_movie2 {
    display: flex;
    margin-left: 520px;
}

/* This code sets the properties for the align_1 element */
.align_1 {
    display: flex;
}


/* Media query for screen sizes between 560px and 1244px */
@media (min-width: 560px) and (max-width: 1244px) {

    /* Set the height of the body to 30px and adjust the margin */
    body {
        height: 30px;
        margin-inline-start: -5px;
    }

    /* Adjust the margin and display of the top header */
    .top_header {
        margin-inline-end: -20px;
        display: flex;
        flex-direction: row;
    }

    /* Make the links in the top header visible */
    .top_header ul li a {
        visibility: visible;
    }

    /* Hide the links in the responsive navbar */
    .responsive_navbar ul li a {  
        visibility: hidden;
    }

    /* Adjust the margin and flex direction of card-1 */
    .card-1 {
        margin-inline-start: 40px;
    }

    /* Adjust the flex direction of set_movie1 */
    .set_movie1 {
        flex-direction: column;
    }

    /* Adjust the flex direction of set_movie2 */
    .set_movie2 {
        flex-direction: column;  
    }

    /* Adjust the margin of card-4 */
    .card-4 {
        margin-top: 20px;
        margin-inline-start: 40px;
    }

    /* Adjust the margin of card-5 */
    .card-5 {
        margin-left: 150px;
        margin-top: 20px;
        margin-inline-start: 40px;
    }

    /* Adjust the margin and padding of the footer */
    footer {
        margin-inline-start: 300px;
        padding-bottom: 40px;
    }
}

/* Media query for screen sizes between 300px and 830px */
@media (min-width:300px)and (max-width: 830px) {

    /* Set the height of the body to 30px */
    body {
        height: 30px;
    }

    /* Adjust the margin and display of the top header */
    .top_header {
        margin-inline-end: -180px;
    }

    /* Adjust the font size and display of the header */
    .top_header .header_ {
        display: inline-block;
        font-size: 12px;
    }

    /* Hide the search bar in the top header */
    .top_header .search_bar {
        display: none;
    }

    /* Hide the links in the top header */
    .top_header ul li a {
        visibility: hidden;
    }

    /* Make the links in the responsive navbar visible and adjust the margin */
    .responsive_navbar ul li a { 
        visibility: visible;
        margin-right: 30px;
    }

    /* Adjust the margin and width of card-1 */
    .responsive_1 .card-1 {
        margin-inline-start: 10px;
        width: 540px ;
    }

    /* Adjust the margin of movie_button1 */
    .responsive_1 .card-1 .movie_button1 {
        margin-left: 400px;
    }

    /* Adjust the margin and position of set_movie1 */
    .set_movie1 {
        position: absolute;
        margin-top:730px;
        margin-left: -10px;
    }

    /* Adjust the margin and position of set_movie2 */
    .set_movie2 {
        margin-top: 730px;
        position: absolute;
        margin-left: -140px;
    }

    /* Adjust the margin, position, and display of the footer */
    footer {
        position: absolute;
        margin-top: 1500px;
        margin-left: 220px;
        display: flex;
    }
}

@media (max-width: 299px) {

    /*  Set the height of the body to 100% */
    body {
        height: 100%;
    }

    /*  Hide the search bar in the top header */
    .top_header .search_bar {
        display: none;
    }

    /*  Adjust the margin of the top header to align with the screen */
    .top_header {
        margin-inline-end: -430px;
    }

    /*  Hide the links in the top header */
    .top_header ul li a {
        visibility: hidden;
    }

    /*  Adjust the display and font size of the header in the top header */
    .top_header .header_ {
        display: inline-block;
        font-size: 12px;
    }

    /*  Adjust the visibility and margin of the links in the responsive navbar */
    .responsive_navbar ul li a {
        visibility: visible;
        margin-right: 20px;
        margin-bottom: 1000px;
    }

    /*  Adjust the visibility and margin of the links in the responsive navbar */
    .responsive_navbar ul li a {
        visibility: visible;
        margin-right: 30px;
    }

    /*  Adjust the margin of the card-1 in the responsive_1 section */
    .responsive_1 .card-1 {
        margin-inline-start: 30px;
    }

    /*  Adjust the height, width, box shadow, and margins of card-2 */
    .card-2 {
        height: 600px;
        width: 500px;
        box-shadow: 2px 2px 5px 3px gray;
        margin-top: 25px;
        margin-left: -100px;
        background-color: white;
    }

    /*  Adjust the padding and margin of the image in card-2 */
    .img-2 {
        padding-top: 20px;
        margin-left: 150px;
    }

    /*  Adjust the margin and font styles of the header in card-2 */
    .header-2 {
        margin-left: 20px;
        margin-top: 50px;
        font-family: roboto;
        font-size: 33px;
    }

    /*  Adjust the margin and color of the paragraph in card-2 */
    .movie-para2 {
        margin-left: 20px;
        margin-top: 10px;
        color: gray;
        font-family: roboto;
    }

    /*  Adjust the margin, color, and background color of the button in card-2 */
    .movie_button2 {
        margin-left: 370px;
        margin-top: 90px;
        color: white;
        background-color: #3e8bff;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 6px;
        border: #3e8bff;
    }

    /*  Adjust the height, width, box shadow, and margins of card-3 */
    .card-3 {
        height: 600px;
        width: 500px;
        box-shadow: 2px 2px 5px 3px gray;
        margin-top: 25px;
        margin-left: -100px;
        background-color: white;
    }

    /*  Adjust the padding and margin of the image in card-3 */
    .img-3 {
        padding-top: 20px;
        margin-left: 150px;
    }

    /*  Adjust the margin and font styles of the header in card-3 */
    .header-3 {
        margin-left: 20px;
        margin-top: 50px;
        font-family: roboto;
        font-size: 33px;
    }

    /*  Adjust the margin and color of the paragraph in card-3 */
    .movie-para3 {
        margin-left: 20px;
        margin-top: 10px;
        color: gray;
        font-family: roboto;
    }

    /*  Adjust the margin, color, and background color of the button in card-3 */
    .movie_button3 {
        margin-left: 370px;
        margin-top: 90px;
        color: white;
        background-color: #3e8bff;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 6px;
        border: #3e8bff;
    }

    /*  Adjust the height, width, box shadow, and margins of card-4 */
    .card-4 {
        height: 600px;
        width: 500px;
        box-shadow: 2px 2px 5px 3px gray;
        margin-top: 25px;
        margin-left: -100px;
        background-color: white;
    }

    /*  Adjust the padding and margin of the image in card-4 */
    .img-4 {
        padding-top: 20px;
        margin-left: 150px;
    }

    /*  Adjust the margin and font styles of the header in card-4 */
    .header-4 {
        margin-left: 20px;
        margin-top: 50px;
        font-family: roboto;
        font-size: 33px;
    }

    /*  Adjust the margin and color of the paragraph in card-4 */
    .movie-para4 {
        margin-left: 20px;
        margin-top: 10px;
        color: gray;
        font-family: roboto;
    }

    /*  Adjust the margin, color, and background color of the button in card-4 */
    .movie_button4 {
        margin-left: 370px;
        margin-top: 90px;
        color: white;
        background-color: #3e8bff;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 6px;
        border: #3e8bff;
    }

    /*Adjust the height, width, box shadow, and margins of card-5 */
    .card-5 {
        height: 600px;
        width: 500px;
        box-shadow: 2px 2px 5px 3px gray;
        margin-top: 25px;
        margin-left: -100px;
        background-color: white;
    }

    /*  Adjust the padding and margin of the image in card-5 */
    .img-5 {
        padding-top: 20px;
        margin-left: 150px;
    }

    /* Adjust the margin and font styles of the header in card-5 */
    .header-5 {
        margin-left: 20px;
        margin-top: 50px;
        font-family: roboto;
        font-size: 33px;
    }

    /* Adjust the margin and color of the paragraph in card-5 */
    .movie-para5 {
        margin-left: 20px;
        margin-top: 10px;
        color: gray;
        font-family: roboto;
        width: 450px;
    }

    /*  Adjust the margin, color, and background color of the button in card-5 */
    .movie_button5 {
        margin-left: 370px;
        margin-top: 90px;
        color: white;
        background-color: #3e8bff;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 6px;
        border: #3e8bff;
    }

    /*  Adjust the flex direction, margin, and alignment of the set_movie1 section */
    .set_movie1 {
        flex-direction: column;
        margin-inline-start: -400px;
        margin-top: 730px;
    }

    /*  Adjust the flex direction and margin of the set_movie2 section */
    .set_movie2 {
        flex-direction: column;
    }

    /*  Adjust the margin of card-4 in the set_movie2 section */
    .set_movie2 .card-4 {
        margin-left: -490px;
        margin-top: 25px;
    }

    /*  Adjust the margin of card-5 in the set_movie2 section */
    .set_movie2 .card-5 {
        margin-left: -490px;
        margin-top: 25px;
    }

    /*  Adjust the margin, alignment, and font size of the footer */
    footer {
        margin-top: 200px;
        margin-left: 250px;
        flex-direction: row;
        padding-top: -30px;
        font-size: 20px;
    }
}
